.home_row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
@media screen and (max-width: 468px) {
  .home_row {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
}
